{% extends "layout.html" %}
{% block title %}Mijozni tahrirlash{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h3 class="mb-4">✏️ Mijozni tahrirlash</h3>

            <form method="POST" action="/update/{{ customer.CustomerID }}">
                <div class="mb-3">
                    <label>Ism:</label>
                    <input type="text" name="name" value="{{ customer.FullName }}" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Email:</label>
                    <input type="email" name="email" value="{{ customer.Email }}" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Telefon:</label>
                    <input type="text" name="phone" value="{{ customer.Phone }}" class="form-control">
                </div>
                <div class="mb-3">
                    <label>Kompaniya:</label>
                    <input type="text" name="company" value="{{ customer.Company }}" class="form-control">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-success">💾 Saqlash</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
